<!DOCTYPE html>
<html lang="en">

  <head>
  
	<style>
	::-webkit-scrollbar { 
    display: none; 
	}
	</style>
	
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#4b4b4b">
	<link rel="shortcut icon" href="/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
  
    <!-- Make page mobile-friendly -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Make chrome mobile color dark gray -->
    <meta name="theme-color" content="#202020">

    <!-- All the Bootstrap stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Other header content -->
    <title>ai03 - Keyboard Plate Generator</title>

  </head>

  <body style="background-size: cover;">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" style="max-width: 768px;">
        <div class="navbar-header">
          <img src="img/navbar/dropdown.png" type="button" class="navbar-toggle" height="40px" data-toggle="collapse" data-target="#navbar" style="border-color: transparent; margin: 5px;"></img>
          <a class="navbar-brand" href="#"><img src="img/navbar/logo.png" style="height: 100%;"/></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <p class="navbar-text collapse navbar-collapse" style="">ai03 Keyboards</p>
          <ul class="nav navbar-nav">
			<li><a href="https://kb.ai03.me/index.html">Home</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="https://kb.ai03.me/projects/index.html">All</a></li>
					<li><a href="https://kb.ai03.me/projects/index.html#keyboards">Keyboards</a></li>
					<li><a href="https://kb.ai03.me/projects/index.html#pcbs">PCBs</a></li>
					<li><a href="https://kb.ai03.me/projects/index.html#kicad">KiCad</a></li>
					<li><a href="https://kb.ai03.me/tools/index.html">Tools</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="https://kbwiki.ai03.me">Wiki</a></li>
					<li><a href="https://kbplate.ai03.me">Plate Generator</a></li>
				</ul>
			</li>
            <li><a href="https://discord.gg/qA5JD9y">Discord</a></li>
			<li><a href="https://www.ai03.me">Back to ai03.me</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Body content -->
    <!-- The complex styling is to make the container fill vertical space accounting for navbar/padding for navbar -->
    <div class="container-fluid" style="margin-top: 50px; min-height: -webkit-calc(100vh - 50px); min-height: -moz-calc(100vh - 50px); min-height: calc(100vh - 50px);">
		
		<!-- Title -->
		<div class="container text-center" style="margin-top: 15px; width: 90%; max-width: 768px; margin: auto;">
			<h1>ai03 Plate Generator</h1>
			<p>An advanced plate generator which doesn't result in 13.99999mm cutouts.</p>
			<p>Also fillets the cutouts so you don't have to waste hours later. Enjoy.</p>
			
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for message in messages %}
							<div class="alert alert-warning">
								<p><strong>Error: </strong>{{ message[1] }}</p>
							</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			
		</div>

		<div class="row text-center" style="width: 90%; max-width: 1024px; margin: auto; margin-top: 15px">
		
		  <form id="plateDataForm" action="/plategen" method="post" role="form">

			<div class="form-group" style="margin: auto;">
				<h3 for="kle-data">KLE Raw Data</h3>
				<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#infoKLEfields">
					Important Info
				</button>
				<br/>
				<br/>
				<textarea type="text" class="form-control" id="kle-data" name="kle-data" placeholder="Paste raw data here" rows="5" required></textarea>
			</div>
			
			<div class="row" style="margin-top:30px">
			
				<div class="col-sm-4">
					<h2>Cutout Selection</h2>
					<p>The most important part.</p>
				
					<label for="cutout-type" style="margin-top: 30px">Switch Cutout Type 
					<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#infoCutoutType">
						Info
					</button>
					</label>
					<select id="cutout-type" name="cutout-type" class="form-control form-control-lg">
						<option selected value="mx">MX</option>
						<option value="alps">Alps</option>
						<option value="omron">Omron</option>
					</select>
					
					<label for="stab-type" style="margin-top: 30px">Stabilizer Cutout Type
					<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#infoStabType">
						Info
					</button>
					</label>
					<select id="stab-type" name="stab-type" class="form-control form-control-lg">
						<option selected value="mx-simple">MX - Simple</option>
						<option value="large-cuts">MX - Large Cutouts</option>
						<option value="alps-aek">Alps - AEK (2.25U wire on right shift)</option>
						<option value="alps-at101">Alps - AT101 (2.75U wire on right shift)</option>
					</select>
					
					<label for="acoustic-type" style="margin-top: 30px">Acoustic Cutout Type
					<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#infoAcousticType">
						Info
					</button>
					</label>
					<select id="acoustic-type" name="acoustic-type" class="form-control form-control-lg">
						<option selected value="none">None</option>
						<option value="typical">Typical</option>
						<option value="extreme">Extreme</option>
					</select>
				</div>
			
				<div class="col-sm-4">
					<h2>Filleting</h2>
					<p>Recommended 0.5~1mm for CNC, 1mm for laser-cutting.</p>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="cutout-radius">Switch Cutout Fillet Radius</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="cutout-radius" name="cutout-radius" value="0.5" placeholder="Radius, mm" required></input>
					</div>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="stab-radius">Stabilizer Cutout Fillet Radius</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="stab-radius" name="stab-radius" value="0.5" placeholder="Radius, mm" required></input>
					</div>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="acoustic-radius">Acoustic Cutouts Fillet Radius</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="acoustic-radius" name="acoustic-radius" value="0.5" placeholder="Radius, mm" required></input>
					</div>
				</div>

				<div class="col-sm-4">
					<h2>Advanced</h2>
					<p>Best leave these alone unless you know what you are doing.</p>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="unit-width">Horizontal Key Spacing</label>
					  <input min="0" max="1000" style="width: 80%; margin: auto;" type="text" class="form-control" id="unit-width" name="unit-width" value="19.05" placeholder="Unit Width, mm" required></input>
					</div>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="unit-height">Vertical Key Spacing</label>
					  <input min="0" max="1000" style="width: 80%; margin: auto;" type="text" class="form-control" id="unit-height" name="unit-height" value="19.05" placeholder="Unit Width, mm" required></input>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg" style="margin-top: 60px">Generate Plate</button>
		  </form>
		
		</div>
	</div>
	
	<div class="modal fade" id="infoCutoutType" tabindex="-1" role="dialog" aria-labelledby="infoCutoutType" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Cutout Types</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<h4>MX</h4>
					<p>For Cherry MX, MX Low Profile, and clones which fit 14x14mm cutouts.</p>
					<h4>Alps</h4>
					<p>For Alps SKCM/SKCL, SKBM/SKBM, Matias, and derivative clones.</p>
					<h4>Omron</h4>
					<p>For Omron B3G-S series and derivative clones. Not for Romer-G.</p>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="infoStabType" tabindex="-1" role="dialog" aria-labelledby="infoStabType" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Stabilizer Types</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<h4>MX - Simple</h4>
					<p>Modeled around the official Cherry MX datasheet, simplified into a rectangle.</p>
					<h4>MX - Large Cutouts</h4>
					<p>A cutout noticeably larger than the official datasheet version.</p>
					<h4>Alps - AEK</h4>
					<p>Alps stabilizers; uses 2.25U wire for right shift.</p>
					<h4>Alps - AT101</h4>
					<p>Alps stabilizers; uses 2.75U wire for right shift.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="infoAcousticType" tabindex="-1" role="dialog" aria-labelledby="infoAcousticType" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Acoustic Cutout Types</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<h4>None</h4>
					<p>Nothing whatsoever.</p>
					<h4>Typical</h4>
					<p>Vertical cuts on each side of 1.5+U keys.</p>
					<h4>Extreme</h4>
					<p>In addition to the typical cuts, adds vertical cuts on 2-3U stabilized keys.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="infoKLEfields" tabindex="-1" role="dialog" aria-labelledby="infoKLEfields" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Additional KLE fields</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<p>In addition to the typical KLE data, you can add the following data fields to the key info:</p>
					<h4>_rs</h4>
					<p>Rotate the stabilizers. For example, <code>{_rs:180}</code> will flip stabilizers for bottom row keys.</p>
					<h4>_rc</h4>
					<p>Rotate the switch cutouts. For example, <code>{_rc:90}</code> will turn the cutout without rotating any other part of the key.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-footer" style="margin: auto; background-color: #eeeeee; margin-top:30px">
		<div class="row container-fluid" style="max-width: 768px; margin: auto; ">
			
			<div class="col-sm-12" style="margin-top:30px; margin-bottom:30px">
				<p>Written by ai03</p>
				<p>Credits to Amtra5, Mxblue, Bakingpy, Senter, Pwner, and Kevinplus for help and info</p>
				<br/>
				<a href="https://github.com/ai03-2725/another-keyboard-builder"><img src="/img/icons/iconmonstr-github-4.svg"></a>
			</div>
			

			
		</div>
	</div>
	
  <body>
  
  <script>
    $(document).ready(function(){
        $("#plateDataForm").click(function(e)
        {
            var MyForm = JSON.stringify($("#kle-data").serializeJSON());
            console.log(MyForm);
            $.ajax({
                url : "http://localhost:5000/generateplate",
                type: "POST",
                data : MyForm,

            });
            e.preventDefault(); //STOP default action

        });
    });
    </script>
  
</html>
