<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Make page mobile-friendly -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Make chrome mobile color dark gray -->
    <meta name="theme-color" content="#202020">

    <!-- All the Bootstrap stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Other header content -->
    <title>ai03 - Keyboard Plate Generator</title>

  </head>

  <body style="background-size: cover;">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" style="max-width: 768px;">
        <div class="navbar-header">
          <img src="img/navbar/dropdown.png" type="button" class="navbar-toggle" height="40px" data-toggle="collapse" data-target="#navbar" style="border-color: transparent; margin: 5px;"></img>
          <a class="navbar-brand" href="#"><img src="img/navbar/logo.png" style="height: 100%;"/></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <p class="navbar-text collapse navbar-collapse" style="">ai03 Keyboards</p>
          <ul class="nav navbar-nav">
			<li><a href="https://kb.ai03.me">Keyboard Home</a></li>
            <li><a href="https://kb.ai03.me/projects">Projects</a></li>
            <li><a href="https://kb.ai03.me/wiki">Wiki</a></li>
            <li class="active"><a href="#">Plate Generator</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Body content -->
    <!-- The complex styling is to make the container fill vertical space accounting for navbar/padding for navbar -->
    <div class="container-fluid" style="margin-top: 50px; min-height: -webkit-calc(100vh - 50px); min-height: -moz-calc(100vh - 50px); min-height: calc(100vh - 50px);">
		
		<!-- Title -->
		<div class="container text-center" style="margin-top: 15px; width: 90%; max-width: 768px; margin: auto;">
			<h1>ai03 Plate Generator</h1>
			<p>An advanced plate generator which doesn't result in 13.99999mm cutouts.</p>
			<p>Also fillets the cutouts so you don't have to waste hours later. Enjoy.</p>
			
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
	 
			{% for message in messages %}
				{% if "Error" not in message[1]: %}
					<div class="alert alert-info">
					<strong>Success! </strong> {{ message[1] }}
					</div>
				{% endif %}
	 
				{% if "Error" in message[1]: %}
					<div class="alert alert-warning">
					{{ message[1] }}
					</div>
				{% endif %}
			{% endfor %}
				{% endif %}
			{% endwith %}
			
		</div>

		<div class="row text-center" style="width: 90%; max-width: 768px; margin: auto; margin-top: 15px">
		
		  <form  action="" method="post" role="form">
			{{ form.csrf }}

			<div class="form-group" style="margin: auto;">
				<h3 for="kle-data">KLE Raw Data</h3>
				<textarea type="text" class="form-control" id="kle-data" name="kle-data" placeholder="Paste raw data here" rows="5" required></textarea>
			</div>
			
			<div class="row" style="margin-top:30px">
			
				<div class="col-sm-4">
					<h2>Cutout Selection</h2>
					<p>The most important part.</p>
				
					<label for="cutout-type" style="margin-top: 30px">Switch Cutout Type 
					<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#infoCutoutType">
						Info
					</button>
					</label>
					<select class="form-control form-control-lg">
						<option selected value="mx">MX</option>
						<option value="alps">Alps</option>
					</select>
					
					<label for="cutout-type" style="margin-top: 30px">Stabilizer Cutout Type
					<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#infoStabType">
						Info
					</button>
					</label>
					<select class="form-control form-control-lg">
						<option selected value="mx-simple">MX - Simple</option>
						<option value="large-cuts">MX - Large Cutouts</option>
						<option value="alps-aek">Alps - AEK (2.25U wire on right shift)</option>
						<option value="alps-at101">Alps - AT101 (2.75U wire on right shift)</option>
					</select>
					
					<label for="cutout-type" style="margin-top: 30px">Acoustic Cutout Type
					<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#infoAcousticType">
						Info
					</button>
					</label>
					<select class="form-control form-control-lg">
						<option selected value="none">None</option>
						<option value="typical">Typical</option>
						<option value="extreme">Extreme</option>
					</select>
				</div>
			
				<div class="col-sm-4">
					<h2>Filleting</h2>
					<p>Recommended 0.5mm for CNC, 1mm for laser-cutting.</p>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="kle-data">Switch Cutout Fillet Radius</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="cutout-radius" name="cutout-radius" value="0.5" placeholder="Radius, mm" required></input>
					</div>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="kle-data">Stabilizer Cutout Fillet Radius</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="stab-radius" name="stab-radius" value="0.5" placeholder="Radius, mm" required></input>
					</div>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="kle-data">Acoustic Cutouts Fillet Radius</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="acoustic-radius" name="acoustic-radius" value="0.5" placeholder="Radius, mm" required></input>
					</div>
				</div>

				<div class="col-sm-4">
					<h2>Advanced</h2>
					<p>Best leave these alone unless you know what you are doing.</p>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="kle-data">Horizontal Key Spacing</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="cutout-radius" name="cutout-radius" value="19.05" placeholder="Unit Width, mm"></input>
					</div>
					<div class="form-group" style="margin: auto; margin-top: 30px;">
					  <label for="kle-data">Vertical Key Spacing</label>
					  <input style="width: 80%; margin: auto;" type="text" class="form-control" id="stab-radius" name="stab-radius" value="19.05" placeholder="Unit Width, mm"></input>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success btn-lg" style="margin-top: 60px">Generate Plate</button>
		  </form>
		
		</div>
	</div>
	
	<div class="modal fade" id="infoCutoutType" tabindex="-1" role="dialog" aria-labelledby="infoCutoutType" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Cutout Types</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<h4>MX</h4>
					<p>For Cherry MX, MX Low Profile, and clones which fit 14x14mm cutouts.</p>
					<br/>
					<h4>Alps</h4>
					<p>For Alps SKCM/SKCL, SKBM/SKBM, Matias, and derivative clones.</p>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="infoStabType" tabindex="-1" role="dialog" aria-labelledby="infoStabType" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Stabilizer Types</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<h4>MX - Simple</h4>
					<p>Modeled around the official Cherry MX datasheet, simplified into a rectangle.</p>
					<br/>
					<h4>MX - Large Cutouts</h4>
					<p>A cutout noticeably larger than the official datasheet version.</p>
					<br/>
					<h4>Alps - AEK</h4>
					<p>Alps stabilizers; uses 2.25U wire for right shift.</p>
					<br/>
					<h4>Alps - AT101</h4>
					<p>Alps stabilizers; uses 2.75U wire for right shift.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="infoAcousticType" tabindex="-1" role="dialog" aria-labelledby="infoAcousticType" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Acoustic Cutout Types</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<h4>None</h4>
					<p>Nothing whatsoever.</p>
					<br/>
					<h4>Typical</h4>
					<p>Vertical cuts on each side of 1.5+U keys.</p>
					<br/>
					<h4>Extreme</h4>
					<p>In addition to the typical cuts, adds vertical cuts on 2-3U stabilized keys.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
  <body>
</html>
